/*CSS*/ 

/* Center of divs */
div {
    text-align: center;
}

/* Web page background color */
body {
    background-color: black;
}

/*Style for the h1 heading>*/
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;

}

/* Style for the links*/
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:normal;
    color: aquamarine;
}