/*CSS*/ 

/* Center of divs */
div {
    text-align: center;
}

/* Web page background color */
body {
    background-color: black;
}

/*Style for the h1 heading>*/
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;

}

/* Style for the h2 headings */
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

/* Style for the links*/
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:normal;
    color: aquamarine;
}

/* Style for the p elements */
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

/*Style for footer */
footer {
    text-align: right;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}